<ul class="breadcrumb">
    <li>您当前的位置：</li>
    <li><a href="javascript:void(0)">课程内容</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
    <li><a href="#page=home">第一章</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
    <li>本章导读</li>
</ul>
<h1>幼儿创造性思维能力培训研究</h1>
<h2>第一章&nbsp;&nbsp;幼儿创造性思维概述</h2>
<h3>本章导读:</h3>
<p class="dail">
    21世纪是创新的世纪，树立全民族的创新意识，建立国家教育创新体系已经成为人们的共识。教育的首要目的就是释放学生的创造力，幼儿教育作为国民基础教育的基础，在人接受教育和不断发展过程中具有重要地位。因此，本章节的主要目的是让学者了解思维、创造性思维的概念及其特点，并了解现在幼儿创造性思维培养的现状、存在的问题及解决途径，并将其运用到具体的教育教学之中，促进幼儿创造性思维水平的提高。
</p>
<h3>教学内容：</h3>
<ul class="slist">
    <li><a href="#page=s00">第一节&nbsp;&nbsp;创造性思维及其内涵</a></li>
    <li><a href="#page=s01">第二节&nbsp;&nbsp;幼儿思维能力发展的特点</a></li>
    <li><a href="#page=s02">第三节&nbsp;&nbsp;幼儿创造性思维培养的重要性</a></li>
    <li><a href="#page=s03">第四节&nbsp;&nbsp;幼儿创造性思维培养的现状及存在的问题</a></li>
    <li><a href="#page=s04">第五节&nbsp;&nbsp;幼儿创造性思维能力培养的途径</a></li>
</ul>
<ul class="action" style="width: 333px;">
    <li class="chapter">
        <a href="javascript:void(0)">章节目录</a>
        <div class="list">
            <img src="../../images/chapter_bg.png" />
            <ul>
            </ul>
        </div>
    </li>
    <li><a href="#page=s00">下一节</a></li>
    <li><a href="javascript:void(0)" class="setShuqian">加入书签</a></li>
</ul>