
<!--播放器插件-->
<link rel="stylesheet" type="text/css" href="../../style/plugins/video/video-js.css"/>
<h1>s0101</h1>

<div class="video_box">
	<video id="my-video" class="video-js" controls preload="auto" width="740" height="400"
		  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
			<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
			<source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
			<source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
			<p class="vjs-no-js">
			  To view this video please enable JavaScript, and consider upgrading to a web browser that
			  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
	</video>
</div>

	<script src="http://vjs.zencdn.net/6.2.5/video.min.js"></script>
	<script src="../../js/plugins/video/videojs-ie8.min.js"></script>
	<script type="text/javascript">
	var myPlayer = videojs('my-video');
	videojs("my-video").ready(function(){
		var myPlayer = this;
		myPlayer.play();
	});
	</script>