<ul class="breadcrumb">
    <li>您当前的位置：</li>
    <li><a href="javascript:void(0)">课程内容</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
    <li><a href="#page=ch01">第一章</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
    <li>第一节</li>
</ul>
<h1>幼儿创造性思维能力培训研究</h1>


<h2>第一节&nbsp;&nbsp;创造性思维及其内涵</h2>
<h3>一、思维</h3>
<p class="dail">
    思维分广义的和狭义的，广义的思维是人脑对客观现实概括的和间接的反映，它反映的是事物的本质和事物间规律性的联系。通过客观事物的表面现象，对客观事物的本质与内在规律进行间接的概括的反映过程，包括逻辑思维和形象思维。而狭义的思维通常的心理学意义上的思维专指逻辑思维。
</p>
<div class="img_box"><img src="images/0101.JPG" alt=""></div>
<p class="dail">
    因此，思维作为认识的一种形式，具有以下两个基本特征：思维的概括性和思维的间接性。思维的概括性指能找出一类事物所特有的共性并把它们归结在一起，从而认识该类事物及其与它类事物的关系。思维的间接性是思维能对感官所不能直接把握的或不在眼前的事物，借助于某些媒介与头脑加工来进行反映。
</p>
<p class="dail">
    人类的思维活动，表现为分析、综合、比较、抽象、概括和具体化。其中分析和综合是思维的最基本过程。其它过程都是由此派生出来的，或者是通过分析综合来实现的。
</p>
<p class="dail">
    当代世界科学技术和经济的飞速发展，向人们展示了这样一个现实，即人类的创造性活动推动了科技进步和经济腾飞。由此，社会的发展向教育提出了重视发展下一代创造性思维的要求。发展学生的创造性思维有着重要的社会现实意义，培养学生的创造性思维是我们广大教师在教学中义不容辞的责任和义务。
</p>
<h3>二、创造性思维及其内涵</h3>
<p class="dail">
    根据思维结果可以将思维分为常规思维和创造性思维。
</P>
<p class="dail">
    创造性思维是人们创造性地解决问题与发明创造过程中的特有的思维活动，是一功具有崭新内容的思维形式的综合。它是在一般思维的基础上发展起来的多种思维的综合，有如下四个特点。
</P>
<h3>1、发散思维和集中思维的统一</h3>
<p class="dail">
    创造性思维主要是发散思维和集中思维的统一。我们要解决某一创造性问题，首先进行发散思维，设想种种可能的方案；然后进行集中思维，通过比较分析，确定一种最佳方案。在创造性思维冲，发散思维和集中思维都是非常重要的，二者缺一不可。然而对于创造性思维来说，发散思维更为重要，它是思维的创造性的主要体现。发散思维可以突破思维定势和功能固着的局限，重新组合已的知识经验，找出许多新的可能的解决问题方案。它是一种开放性的没有固定的模式、方向和范围的，可以“标新立异”、“海阔天空”、“异想天开”的思维方式。没有发散思维就不能打破传统的框框，也就不能提出全新的解决问题的方案。
</P>
<div class="img_box"><img src="images/0102.JPG" alt=""></div>
<p class="dail">发散思维有三个指标：</P>
<p class="dail">
    （1）流畅性，指发散思维的量。单位时间内发散的量越多，流畅性越好；
</P>
<p class="dail">
    （2）变通性，指思维在发散方向上所表现出的变化和灵活；
</P>
<p class="dail">
    （3）独创性，指思维发散的新颖、新奇、独特的程度。
</P>
<p class="dail">
    例如，让学生说出“红砖”都有哪些用途，学生可能回答：盖房子，筑墙，砌台阶，修路，当锤子，当武器，压纸，作画写字，磨红粉当颜料，练功，垫东西，吸水……在有限的时间内，提供的数量越多，说明思维的流畅性越好；能说出不同的用途，说明变通性好；说出的用途是别人没有说出的、新异的、独特的，说明具有独创性。发散思维的这三个特点有助于人消除思维定势和功能固着等消极影响，顺利地解决创造性问题。
</P>
<p class="dail">
    集中思维在创造活动中发挥着集大成的作用。当通过发散思维，提出种种假设和解决问题的方案、方法时，并不意味着创造活动的完成，还需从这些方案、方法中挑选出最合理、最接近客观现实的设想，这一任务的完成是靠集中思维来承担的，集中思维具有批判地选择的功能。
</p>
<h3>2、直觉思维出现</h3>
<p class="dail">
    直觉思维是指不经过一步步地分析，而迅速地对问题答案作出合理猜测、设想或突然领悟的思维。它是创造性思维活跃的一种表现，它不仅是创造发明的先导，也是创造活动的动力。直觉思维的结果，是使用逻辑思维所得不到的预见、捷径，或是解决问题的最佳方案的雏形。它往往从整体出发，用猜测、跳跃、压缩思维过程的方式，直觉而迅速地领悟。许多科学家的发明创造都是从直觉思维开始的。例如，达尔文通过观察植物幼苗顶端向阳光弯曲，直觉提出“其中有某种物质跑向背光一面”的设想，以后随科学的发展被证明确有“某种物质”即“植物生长素”。数学领域中的歌德巴赫猜想、费尔马猜想等都是当初数学大师未经论证而提出的一种直觉判断，但为后人所确信，并为此进行了论证。直觉思维作为创造性思维中的一个重要思维活动，具有三个特点：一是从整体上把握对象，而不是拘泥于细枝末节；二是对问题的实质的一种洞察，而不是停留于问题的表面现象；三是一种跳跃式思维，而不是按部就班地展开思维过程。直觉思维是在知识经验的基础上形成和进行的，丰富的知识经验有助于人们形成深邃的直觉。
</p>
<div class="img_box"><img src="images/0103.JPG" alt=""></div>
<h3>3、创造想象参与</h3>
<p class="dail">
    创造性思维有创造想象的参与。因为创造性思维的成果都是前所未有的，而个体在进行思维时借助于想象，特别是创造想象来进行探索。创造性思维只有创造想象参与，才能从最高水平上对现有知识经验进行改造、组合，构筑出最完整、最理想的新形象。例如，牛顿的万有引力定律的提出就是以地球绕太阳运转、月亮绕地球运转、大海潮汐现象、苹果落地等事实为前提，先在头脑中进行创造想象，然后进行推理而产生的。世界著名的物理学家爱因斯坦在高度抽象的理论物理领域中有许多杰出的创造性成果，他大多是运用创造想象来进行研究的。他对想象力的评价是：“想象力比知识更重要，因为知识是有限的，而想象力概括着世界的一切，推动着进步，并且是知识进化的源泉。”严格地说，想象力是科学研究的根本因素。
</p>
<div class="img_box"><img src="images/0104.JPG" alt=""></div>
<h3>4、多有灵感出现</h3>
<p class="dail">
    在创造性思维过程中，新的解决问题的思路、方案的产生往往带有突然性，这种突然产生新思路、新方案的状态，称为灵感。它常给人一种豁然开朗、妙思突发的体验，使百思不得其解的问题顿释。对许多科学家的调查表明，他们的发明创造过程中，大多出现过灵感。灵感并不是什么神秘之物，它是思考者长期积累知识经验、勤于思考的结果。研究表明，灵感的出现有一定的规律性。首先，灵感出现的基本条件是，个体对所要研究的问题有一个长时间的思考，要反复考虑所要解决问题的一切方面、一切角度及一切可能。这种苦思冥想是灵感产生的前提。其实灵感的出现是对某问题的一切方面经过深入考虑之后达到的瓜熟蒂落、水到渠成的境界。其次，注意力高度集中在所要解决的问题上，甚至达到痴迷的程度。这样可以全心投入思考，使要解决的问题时时萦绕在心。第三，灵感出现的最佳时机是在长期紧张思考之后的短暂松弛状态下出现的，可能是在散步、洗澡、钓鱼、交谈、舒适地躺在床上的时候或其他比较轻松的时刻。因为紧张后的轻松之时，大脑灵活，感受力强，最易产生联想、触发新意。
</p>
<p class="dail">
    因此，基于此，创造性思维的表现形式主要有5种，分别为发散思维、集中思维、联想思维、灵感思维、直觉思维。5种思维的我们将会在第二章中进行详细的介绍。
</p>
<div class="img_box"><img src="images/0105.JPG" alt=""></div>
<ul class="action">
    <li><a href="#page=ch01">上一节</a></li>
    <li><a href="#">章节目录</a></li>
    <li><a href="#page=s0101">下一节</a></li>
    <li><a href="javascript:void(0)" class="setShuqian">加入书签</a></li>
</ul>