<!--播放器插件-->
<link rel="stylesheet" type="text/css" href="../../style/plugins/video/video-js.css" />
<ul class="breadcrumb">
	<li>您当前的位置：</li>
	<li><a href="javascript:void(0)">课程内容</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
	<li><a href="#page=ch01">第一章</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
	<li>第二节</li>
</ul>

<h1>幼儿创造性思维能力培训研究</h1>


<h2>第二节&nbsp;&nbsp;幼儿思维能力发展的特点</h2>

<h1>s0101</h1>
<ul class="action">
	<li><a href="#">上一节</a></li>
	<li class="chapter">
			<a href="javascript:void(0)">章节目录</a>
			<div class="list">
				<img src="../../images/chapter_bg.png" />
				<ul>
					<li>
						<dl>
							<dt><a href="###">第一章 幼儿创造性思维概述</a></dt>
							<dd><a href="###">第一节  创造性思维及其内涵</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="###">第二章 幼儿创造性思维概述</a></dt>
							<dd><a href="###">第一节  创造性思维及其内涵</a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</li>
	<li><a href="#">下一节</a></li>
	<li><a href="javascript:void(0)" class="setShuqian">加入书签</a></li>
</ul>
<div class="video_box">
	<video id="my-video" class="video-js" controls preload="auto" width="740" height="400" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
		<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
		<source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
		<source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
		<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a web browser that
			<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		</p>
	</video>
</div>

<script src="http://vjs.zencdn.net/6.2.5/video.min.js"></script>
<script src="../../js/plugins/video/videojs-ie8.min.js"></script>
<script type="text/javascript">
	var myPlayer = videojs('my-video');
	videojs("my-video").ready(function () {
		var myPlayer = this;
		myPlayer.play();
	});
</script>