/*初始化*/
body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure, figcaption, article, section, aside {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #5a93cf;
  }
  
  ul, li {
    list-style: none;
  }
  
  /*title*/
  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  h5 {
    font-size: 12px;
  }
  
  h6 {
    font-size: 10px;
  }
  
  /*a*/
  a {
    text-decoration: none;
    color: #555;
    display: block;
  }
  
  a:hover {
    color: #555;
  }
  
  img {
    vertical-align: top;
  }/*除去img4px*/

/*清除浮动*/
.clearfix:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}	/*支持高级浏览器*/
.clearfix{zoom:1;}	/*兼容IE低版本浏览器*/