/*导航条*/
.nav2 {
  width: 822px;
  height: 132px;
  margin: 0 auto;
  background-image: url("../images/nav_bg.png");
  background-size: cover;
}

.nav2 ul {
  overflow: hidden;
}

.nav2 ul li {
  float: left;
  width: 16%;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}

.nav2 ul li:first-child {
  width: 20%;
  font-size: 16px;
}

.nav2 ul li.active a, .nav2 ul li a:hover {
  background-image: url(../images/light.png);
  background-position: 6px 10px;
}
html body .container .header{
//  margin-top: 0;
}