html {
    background-color: #5a93cf;
    body {
        width: 100%;
        .container {
            width: 1045px;
            margin: 0 auto;
            padding-top: 68px;
            position: relative;
            overflow: hidden;
            .title {
                width: 349px;
                height: 391px;
                position: absolute;
                top: 27px;
                left: -60px;
                background: url(../images/left_title.png);
                z-index: 99;
                >h2 {
                    font-size: 23.7px;
                    color: #5a93d0;
                    position: absolute;
                    top: 189px;
                    left: 74px;
                }
                >h4 {
                    font-size: 19px;
                    color: #fff;
                    position: absolute;
                    left: 133px;
                    top: 225px;
                }
            }
            .menu {
                position: absolute;
                background: url(../images/right_menu.png);
                width: 359px;
                height: 441px;
                top: 130px;
                right: -60px;
                z-index: 99;
            }
            .flower {
                width: 129px;
                height: 132px;
                background: url(../images/flower.png);
                position: absolute;
                left: 27px;
                top: 380px;
            }
            .block {
                width: 213px;
                height: 201px;
                background: url(../images/block.png);
                position: absolute;
                left: 4px;
                top: 610px;
                z-index: 99;
            }
            .nav {
                width: 822px;
                height: 59px;
                margin: 0 auto;
                background: url(../images/nav_bg2.png) center;
                background-size: cover;
                -ms-behavior: url(style/backgroundsize.min.htc);
                behavior: url(style/backgroundsize.min.htc);
                ul {
                    width: 100%;
                    overflow: hidden;
                    li {
                        float: left;
                        >a {
                            display: block;
                            height: 49px;
                            line-height: 49px;
                            font-size: 14px;
                            color: #261501;
                            padding: 0 42px;
                        }
                    }
                    li:hover,
                    .active {
                        >a {
                            color: #5a93cf;
                        }
                    }
                }
            }
            .header {
                width: 695px;
                height: 89px;
                margin: 0 auto;
                margin-top: 70px;
                background-image: url(http://127.0.0.1:8020/web36/images/header_bg.png);
                background-size: cover;
                behavior: url(./style/backgroundsize.min.htc);
                position: relative;
                z-index: 1;
            }
            .main {
                padding: 0 86px; // width: 75%;
                width: 695px;
                margin: 0 auto;
                // box-shadow: 5px 0 1px 1px rgba(51,48,48,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
                background: url(http://127.0.0.1:8020/web36/images/main_bg.png);
                background-size: 100% 100%;
                behavior: url(./style/backgroundsize.htc);
                -ms-behavior: url(./style/backgroundsize.htc);
                position: relative;
                .breadcrumb {
                    position: absolute;
                    top: -120px;
                    left: 56px;
                    li {
                        float: left;
                        font-size: 16px;
                        color: #f2f2f2;
                        a {
                            font-size: 16px;
                            color: #f2f2f2;
                            display: inline-block;
                        }
                        a:hover {
                            color: #ff6600;
                        }
                    }
                }
                >h1 {
                    color: #5a93cf;
                    font-size: 36px;
                    text-align: center;
                    padding-bottom: 20px;
                }
                >h2 {
                    font-size: 24px;
                    text-align: center;
                }
                >h3 {
                    font-size: 16px;
                    padding-bottom: 13px;
                }
                .dail {
                    font-size: 16px;
                    line-height: 28px;
                    text-indent: 2em;
                    padding-bottom: 13px;
                }
                .img_box,.video_box {
                    text-align: center;
                }
                .homelist {
                    margin-top: 80px;
                    li {
                        a {
                            font-size: 24px;
                            color: #111111;
                            line-height: 65px;
                        }
                    }
                }
                .slist {
                    margin-left: 2em;
                    li {
                        a {
                            font-size: 20px;
                            color: #C66209;
                            line-height: 32px;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .action {
                    position: fixed;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    width: 452px;
                    margin: auto;
                    display: inline-block;
                    z-index: 9999;
                    li {
                        float: left;
                        // background-color: #5a93cf;
                        background-color: #B6DEF7;
                        margin: 0 15px;
                        border-radius: 0px 20px;
                        behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
                        z-index: 9999;
                        a {
                            display: block;
                            width: 80px;
                            font-size: 14px;
                            line-height: 26px;
                            color: #226EC1;
                            text-align: center;
                        }
                    }
                    li:hover {
                        background-color: #C66209;
                        a{
                            color: #f2f2f2;
                        }
                    }
                }
            }
            .footer {
                width: 695px;
                height: 105px;
                margin: 0 auto;
                background-size: cover;
                margin-bottom: 60px;
                background-image: url(http://127.0.0.1:8020/web36/images/footer_bg.png);
                behavior: url(./style/backgroundsize.min.htc);
                -ms-behavior: url(./style/backgroundsize.min.htc);
                position: relative;
                text-align: center;
                .den {
                    width: 291px;
                    height: 243px;
                    background: url(../images/den.png);
                    position: absolute;
                    top: -80px;
                    right: -142px;
                }
            }
        }
        .ball {
            position: absolute;
            top: 530px;
            right: 198px;
            margin: auto;
            width: 50px;
            // height: 50px;
            height: 293px;
            opacity: 0.5;
            filter: alpha(opacity = 50);
            border-radius: 50%;
            cursor: pointer;
            behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
            z-index: 999;
            >img{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .b1,
            .b2,
            .b3,
            .b4 {
                position: absolute;
                width: 50px;
                height: 50px;
                background-color: #c8e7f9;
                border: 1px solid #c8e7f9;
                opacity: 0;
                filter: alpha(opacity = 0);
                filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                border-radius: 50%;
                behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
                cursor: pointer;
                text-align: center;
                z-index: -1;
                img {
                    display: inline-block;
                    width: 20px;
                    margin-top: 10px;
                }
                p {
                    line-height: 14px;
                    font-size: 12px;
                    color: #222;
                }
            }
            .b1,
            .b2{
                top: 121px;
            }
            .b3,
            .b4{
                bottom: 121px;
            }
        }
    }
    .pop {
        position: fixed;
        top: -1500px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 15px;
        width: 400px;
        height: 500px;
        border: 1px solid #ccc;
        border-radius: 10px;
        behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
        background-color: white;
        z-index: 1;
        .pop-header {
            border-bottom: 1px solid #5a93cf;
            h3 {
                line-height: 35px;
            }
            span {
                position: absolute;
                top: 0;
                right: 20px;
                margin: auto;
                font-size: 18px;
                cursor: pointer;
                margin-top: 20px;
                color: #666;
            }
            span:hover {
                color: red;
            }
        }
        .pop-main {
            /*笔记*/
            .note {
                ul {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 300px;
                    overflow-y: scroll;
                }
                li {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;
                    font-size: 12px;
                    cursor: pointer;
                    p {
                        word-wrap: break-word;
                        word-break: normal;
                        overflow: hidden;
                        span {
                            float: left;
                            display: block;
                            text-indent: 2em;
                            width: 300px;
                        }
                        .del {
                            width: 50px;
                            text-align: center;
                            color: #5a93cf;
                            text-indent: 0;
                        }
                        .del:hover {
                            color: red;
                        }
                    }
                    div {
                        overflow: hidden;
                        margin-top: 5px;
                        span {
                            float: right;
                            margin-right: 10px;
                        }
                    }
                }
                li:hover {
                    background-color: #dededd;
                }
                textarea {
                    width: 368px;
                    height: 80px;
                    padding: 10px;
                }
                button {
                    border: none;
                    float: right;
                    padding: 5px 15px;
                    background-color: #5a93cf;
                    cursor: pointer;
                    border-radius: 5px;
                    behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
                    color: white;
                    font-size: 12px;
                }
                button:hover {
                    background-color: #2880dd;
                }
            }
            /*书签*/
            .shuqian {
                ul {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 420px;
                    overflow-y: scroll;
                }
                li {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;
                    font-size: 12px;
                    cursor: pointer;
                    p {
                        word-wrap: break-word;
                        word-break: normal;
                        overflow: hidden;
                        span {
                            float: left;
                            display: block;
                        }
                        span:first-child {
                            text-indent: 2em;
                            width: 300px;
                        }
                        .del {
                            width: 50px;
                            text-align: center;
                            color: #5a93cf;
                        }
                        .del:hover {
                            color: red;
                        }
                        a:hover {
                            color: #ffba00;
                        }
                    }
                }
                li:hover {
                    background-color: #dededd;
                }
            }
            /*进度*/
            .pregress {
                padding-top: 20px;
                p {
                    font-size: 14px;
                    line-height: 40px;
                    a {
                        display: inline-block;
                        color: #a31313;
                    }
                    a:hover {
                        color: #a50101;
                    }
                }
            }
        }
    }
}