@charset "UTF-8";
html {
  background-color: #5a93cf;
}

html body {
  width: 100%;
}

html body .container {
  width: 1045px;
  margin: 0 auto;
  padding-top: 68px;
  position: relative;
  overflow: hidden;
  /*显示位置*/
  /*end-显示位置*/
}

html body .container .breadcrumb {
  position: absolute;
  top: 160px;
  left: 18%;
}

html body .container .breadcrumb li {
  float: left;
  font-size: 16px;
  color: #f2f2f2;
}

html body .container .breadcrumb li a {
  font-size: 16px;
  color: #f2f2f2;
  display: inline-block;
}

html body .container .breadcrumb li a:hover {
  color: #ff6600;
}

html body .container .title {
  width: 349px;
  height: 391px;
  position: absolute;
  top: 27px;
  left: -60px;
  background: url(../images/left_title.png);
  z-index: 99;
}

html body .container .title > h2 {
  font-size: 23.7px;
  color: #5a93d0;
  position: absolute;
  top: 189px;
  left: 74px;
}

html body .container .title > h4 {
  font-size: 19px;
  color: #fff;
  position: absolute;
  left: 133px;
  top: 225px;
}

html body .container .menu {
  position: absolute;
  background: url(../images/right_menu.png);
  width: 359px;
  height: 441px;
  top: 130px;
  right: -60px;
  z-index: 99;
}

html body .container .flower {
  width: 129px;
  height: 132px;
  background: url(../images/flower.png);
  position: absolute;
  left: 27px;
  top: 380px;
}

html body .container .block {
  width: 213px;
  height: 201px;
  background: url(../images/block.png);
  position: absolute;
  left: 4px;
  top: 610px;
  z-index: 99;
}

html body .container .nav {
  width: 822px;
  height: 59px;
  margin: 0 auto;
  background: url(../images/nav_bg2.png) center;
  background-size: cover;
  -ms-behavior: url(style/backgroundsize.min.htc);
  behavior: url(style/backgroundsize.min.htc);
}

html body .container .nav ul {
  width: 100%;
  overflow: hidden;
}

html body .container .nav ul li {
  float: left;
}

html body .container .nav ul li > a {
  display: block;
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  color: #261501;
  padding: 0 42px;
}

html body .container .nav ul li:hover > a,
html body .container .nav ul .active > a {
  color: #5a93cf;
}

html body .container .main {
  padding: 89px 86px 105px 86px;
  width: 695px;
  margin: 70px auto 85px auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=81, Color=#557EA9)";
  /*IE 8*/
  -moz-box-shadow: 1px 5px 5px 5px rgba(51, 48, 48, 0.3);
  /*FF 3.5+*/
  -webkit-box-shadow: 1px 5px 5px 5px rgba(51, 48, 48, 0.3);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 1px 5px 5px 5px rgba(51, 48, 48, 0.3);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=81, Color=#557EA9);
  /*IE 5.5-7*/
  background-color: #FDFDFD;
  position: relative;
}

html body .container .main > h1 {
  color: #5a93cf;
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
}

html body .container .main > h2 {
  font-size: 24px;
  text-align: center;
}

html body .container .main > h3 {
  font-size: 16px;
  padding-bottom: 13px;
}

html body .container .main .dail {
  font-size: 16px;
  line-height: 28px;
  text-indent: 2em;
  padding-bottom: 13px;
}

html body .container .main .dail > em {
  font-size: 16px;
  font-weight: bolder;
  font-style: normal;
}

html body .container .main .img_box,
html body .container .main .video_box {
  text-align: center;
}

html body .container .main .homelist {
  margin-top: 80px;
}

html body .container .main .homelist li a {
  font-size: 24px;
  color: #111111;
  line-height: 65px;
}

html body .container .main .slist {
  margin-left: 2em;
}

html body .container .main .slist li a {
  font-size: 20px;
  color: #C66209;
  line-height: 32px;
}

html body .container .main .slist li a:hover {
  text-decoration: underline;
}

html body .container .main .movie {
  width: 505px;
  margin: 0 auto;
  padding: 20px 0;
}

html body .container .main .den {
  width: 291px;
  height: 243px;
  background: url(../images/den.png);
  position: absolute;
  right: -185px;
  bottom: -73px;
}

html body .container .action {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 452px;
  margin: auto;
  z-index: 9999;
}

html body .container .action > li {
  float: left;
  margin: 0 15px;
  background-image: url(../images/ac_list_bg.png);
}

html body .container .action > li a {
  display: block;
  width: 80px;
  font-size: 14px;
  line-height: 26px;
  color: #226EC1;
  text-align: center;
}

html body .container .action li.chapter {
  position: relative;
  z-index: 999;
}

html body .container .action li.chapter .list {
  position: absolute;
  z-index: 999;
  bottom: -468px;
  left: -142px;
  width: 360px;
  height: 422px;
}

html body .container .action li.chapter .list img, html body .container .action li.chapter .list ul {
  position: absolute;
  width: 360px;
  height: 422px;
  top: 0;
  left: 0;
}

html body .container .action li.chapter .list ul {
  margin-top: 10px;
  height: 380px;
  width: 346px;
  overflow-y: scroll;
  padding: 10px 15px;
  font-size: 14px;
}

html body .container .action li.chapter .list ul li {
  margin-bottom: 10px;
}

html body .container .action li.chapter .list dt {
  font-size: 15px;
  font-weight: bold;
}

html body .container .action li.chapter .list dd {
  padding-left: 15px;
  margin-top: 5px;
}

html body .container .action li.chapter .list a {
  text-align: left;
  width: auto;
}

html body .container .action li.chapter .list a:hover {
  color: #226EC1;
}

html body .container .action > li:hover {
  background-image: url(../images/ac_list_bga.png);
}

html body .container .action > li:hover > a {
  color: #f2f2f2;
}

html body .container .footer {
  width: 695px;
  height: 105px;
  margin: 0 auto;
  background-size: cover;
  margin-bottom: 60px;
  background-image: url(http://127.0.0.1:8020/web36/images/footer_bg.png);
  behavior: url(./style/backgroundsize.min.htc);
  -ms-behavior: url(./style/backgroundsize.min.htc);
  position: relative;
  text-align: center;
}

html body .container .footer .den {
  width: 291px;
  height: 243px;
  background: url(../images/den.png);
  position: absolute;
  top: -80px;
  right: -142px;
}

html body .container .ball {
  position: absolute;
  top: 530px;
  right: 210px;
  margin: auto;
  width: 50px;
  height: 293px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  z-index: 999;
}

html body .container .ball > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

html body .container .ball .b1,
html body .container .ball .b2,
html body .container .ball .b3,
html body .container .ball .b4 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #c8e7f9;
  opacity: 0;
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  border-radius: 50%;
  behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
  cursor: pointer;
  text-align: center;
  z-index: -1;
}

html body .container .ball .b1 img,
html body .container .ball .b2 img,
html body .container .ball .b3 img,
html body .container .ball .b4 img {
  display: inline-block;
  width: 20px;
  margin-top: 10px;
}

html body .container .ball .b1 p,
html body .container .ball .b2 p,
html body .container .ball .b3 p,
html body .container .ball .b4 p {
  line-height: 14px;
  font-size: 12px;
  color: #222;
}

html body .container .ball .b1,
html body .container .ball .b2 {
  top: 121px;
}

html body .container .ball .b3,
html body .container .ball .b4 {
  bottom: 121px;
}

html body .container .ball .b3 img,
html body .container .ball .b4 img {
  border: 0px\0;
}

html .pop {
  position: fixed;
  top: -1500px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 15px;
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
  background-color: white;
  z-index: 1;
}

html .pop .pop-header {
  border-bottom: 1px solid #5a93cf;
}

html .pop .pop-header h3 {
  line-height: 35px;
}

html .pop .pop-header span {
  position: absolute;
  top: 0;
  right: 20px;
  margin: auto;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  color: #666;
}

html .pop .pop-header span:hover {
  color: red;
}

html .pop .pop-main {
  /*笔记*/
  /*书签*/
  /*进度*/
}

html .pop .pop-main .note ul {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  overflow-y: scroll;
}

html .pop .pop-main .note li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  cursor: pointer;
}

html .pop .pop-main .note li p {
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
}

html .pop .pop-main .note li p span {
  float: left;
  display: block;
  text-indent: 2em;
  width: 300px;
}

html .pop .pop-main .note li p .del {
  width: 50px;
  text-align: center;
  color: #5a93cf;
  text-indent: 0;
}

html .pop .pop-main .note li p .del:hover {
  color: red;
}

html .pop .pop-main .note li div {
  overflow: hidden;
  margin-top: 5px;
}

html .pop .pop-main .note li div span {
  float: right;
  margin-right: 10px;
}

html .pop .pop-main .note li:hover {
  background-color: #dededd;
}

html .pop .pop-main .note textarea {
  width: 368px;
  height: 80px;
  padding: 10px;
}

html .pop .pop-main .note button {
  border: none;
  float: right;
  padding: 5px 15px;
  background-color: #5a93cf;
  cursor: pointer;
  border-radius: 5px;
  behavior: url(http://127.0.0.1:8020/web36/style/PIE.htc);
  color: white;
  font-size: 12px;
}

html .pop .pop-main .note button:hover {
  background-color: #2880dd;
}

html .pop .pop-main .shuqian ul {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 420px;
  overflow-y: scroll;
}

html .pop .pop-main .shuqian li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  cursor: pointer;
}

html .pop .pop-main .shuqian li p {
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
}

html .pop .pop-main .shuqian li p span {
  float: left;
  display: block;
}

html .pop .pop-main .shuqian li p span:first-child {
  text-indent: 2em;
  width: 300px;
}

html .pop .pop-main .shuqian li p .del {
  width: 50px;
  text-align: center;
  color: #5a93cf;
}

html .pop .pop-main .shuqian li p .del:hover {
  color: red;
}

html .pop .pop-main .shuqian li p a:hover {
  color: #ffba00;
}

html .pop .pop-main .shuqian li:hover {
  background-color: #dededd;
}

html .pop .pop-main .pregress {
  padding-top: 10px;
}

html .pop .pop-main .pregress .left,
html .pop .pop-main .pregress .right {
  float: left;
}

html .pop .pop-main .pregress h4 {
  margin-bottom: 5px;
  font-weight: bold;
}

html .pop .pop-main .pregress .left {
  width: 280px;
  height: 420px;
  overflow-y: scroll;
}

html .pop .pop-main .pregress .left > ul > li {
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

html .pop .pop-main .pregress .left > ul > li > a {
  color: #222;
}

html .pop .pop-main .pregress .left ol > li {
  margin-top: 5px;
  padding-left: 10px;
  line-height: 18px;
  overflow: hidden;
}

html .pop .pop-main .pregress .left ol > li a {
  width: 230px;
  float: left;
  word-wrap: break-word;
  word-break: normal;
}

html .pop .pop-main .pregress .left ol > li span {
  width: 20px;
  display: block;
  float: left;
  text-align: center;
}

html .pop .pop-main .pregress .left ol > li span img {
  margin-top: 3px;
}

html .pop .pop-main .pregress .left ol > li a:hover {
  color: #C66209;
}

html .pop .pop-main .pregress .left ol > li.readed a {
  color: #169e13;
}

html .pop .pop-main .pregress .left ol > li:hover {
  background-color: #ccc;
}

html .pop .pop-main .pregress .right {
  text-align: center;
  width: 87px;
  border-left: 1px solid #ccc;
}

html .pop .pop-main .pregress .right .schedule {
  border-bottom: 1px solid #ccc;
}

html .pop .pop-main .pregress .right .schedule,
html .pop .pop-main .pregress .right .time {
  height: 210px;
}

html .pop .pop-main .pregress .right .schedule p,
html .pop .pop-main .pregress .right .time p {
  line-height: 40px;
}

html .pop .pop-main .pregress .right .time h4 {
  margin-top: 10px;
}
