html{
    background-color: #5a93cf;
    body{
        width: 100%;
            .container{
                width: 1045px;
                margin: 0 auto;
                padding-top: 68px;
                position: relative;
                overflow: hidden;
                .title{
                    width: 349px;
                    height: 391px;
                    position: absolute;
                    top: 27px;
                    left: -60px;
                    background: url(../images/left_title.png);
                    >h2{
                        font-size: 23.7px;
                        color: #5a93d0;
                        position: absolute;
                        top: 189px;
                        left: 74px;
                    }
                    >h4{
                        font-size: 19px;
                        color: #fff;
                        position: absolute;
                        left: 133px;
                        top: 225px;
                    }
                }
                .menu{
                    position: absolute;
                    background: url(../images/right_menu.png);
                    width: 359px;
                    height: 441px;
                    top: 130px;
                    right: -60px;
                }
                .flower{
                    width: 129px;
                    height: 132px;
                    background: url(../images/flower.png);
                    position: absolute;
                    left:27px;
                    top: 380px;
                }
                .block{
                    width: 213px;
                    height: 201px;
                    background: url(../images/block.png);
                    position: absolute;
                    left:4px;
                    top: 610px;
                    z-index: 99;
                }
                .nav{
                    width: 822px;
                    height: 59px;
                    margin: 0 auto;
                    background: url(../images/nav_bg2.png) center;
                    background-size: cover;
                    ul{
                        width: 100%;
                        overflow: hidden;
                        li{
                            float: left;
                            >a{
                                display: block;
                                height: 49px;
                                line-height: 49px;
                                font-size: 14px;
                                color: #261501;
                                padding: 0 42px;
                            }
                        }
                        li:hover,.active{
                            >a{
                                font-weight: bolder;
                                color: #5a93cf;
                            }
                        }
                    }
                }
                .header{
                    width: 695px;
                    height: 89px;
                    margin: 0 auto;
                    margin-top: 70px;
                    background: url(../images/header_bg.png) center;
                    background-size: cover;
                }
                .main{
                    width: 695px;
                    margin: 0 auto;
                    background: url(../images/main_bg.png) center;
                    >h1{
                        color: #5a93cf;
                        font-size: 36px;
                        text-align: center;
                    }
                    ul{
                        margin-top: 80px;
                        li{
                            padding-left: 110px;
                            a{
                                font-size: 24px;
                                color: #111111;
                                line-height: 65px;
                            }
                        }
                    }
                }
                .footer{
                    width: 695px;
                    height: 105px;
                    margin: 0 auto;
                    background: url(../images/footer_bg.png) center;
                    margin-bottom: 60px;
                    position: relative;
                    .den{
                        width: 291px;
                        height: 243px;
                        background: url(../images/den.png);
                        position: absolute;
                        top: -80px;
                        right:-142px;
                    }
                }
            }
            .ball{
                position: absolute;
                top: 577px;
                right: 198px;
                margin: auto;
                width: 50px;
                height: 50px;
                background: #222;
                opacity: 0.5;
                border-radius: 50%;
                cursor: pointer;
                background-image: url(../images/action.png);
                background-position: center;
                background-size:60%;
                background-repeat: no-repeat;
                .b1,.b2,.b3,.b4{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background: #c8e7f9;
                    opacity: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    text-align: center;
                    img{
                        display: inline-block;
                        width: 20px;
                        margin-top: 10px;
                    }
                    p{
                        line-height: 14px;
                        font-size: 12px;
                        color:#222;
                    }
                }
            }
        }
    }