<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>幼儿创造性思维能力培训研究</title>
    <link rel="stylesheet" href="../../style/common.css">
    <link rel="stylesheet" href="../../style/public.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h2>广州市中小学教师</h2>
            <h4>进修课程</h4>
        </div>
        <div class="menu"></div>
        <div class="flower"></div>
        <div class="block"></div>
        <div class="main"></div>
		
    </div>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/jquery.history.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
    <script type="text/javascript" src="../../js/chapter.js"></script>
</body>

</html>